@import 'config';

// structure

body {
  background: #fff;
  text-align: center;
  font-family: Source Code Pro, monospace;
  font-size: $baseline;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  font-weight: 200;
}


h1 {
  color: #000;
  font-size: $baseline;
  margin: $baseline 0;
  text-align: center;
}

h2 {
  margin: 0 0 $baseline * 3;
  font-size: $baseline * 1.5;
  text-align: center;
}

h3 {
  margin: (1.5 * $baseline) 0 (1.5 * $baseline) 0;
  font-size: $baseline * 1.0;
}

.section-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  padding: $baseline * 3 0;
}

ul {
  margin: 0;
  padding: 0 $baseline * 2;
  position: relative;
}

li {
  margin: $baseline / 2 0;
  padding: 0;
  list-style: none
}

li:before {
  content: "→";
  position: absolute;
  left: $baseline * 0.66;
  line-height: $baseline;
}

.appdownload {
  margin: $baseline 0;
}

.features,
.tech,
.download,
.body {
  max-width: 400px + 4 * $baseline;
  margin: (3 * $baseline) auto;
  padding: 0 (2 * $baseline);
}

.download {
  text-align: center;
}

// style

.btn-download {
  border: 1px dashed #333;
  display: inline-block;
  margin: $baseline 0 0 -1px;
  padding: $baseline * 0.66;
  text-decoration: none;
  color: inherit;
}

a.btn-download:hover {
  border-style: solid;
  text-decoration: none;
}

a {
  color: inherit;
}

footer {
  margin: $baseline 0;
  text-align: center;
}

.app-image {
  width: 30%;
  margin: 0 1%
}

// small screens

@media only screen and (max-device-width : 667px), only screen and (max-width : 667px) {
  .section-content {
    max-width: auto;
  }
  .app-image {
    width: 80%;
    margin: $baseline 10%;
  }
}

@import "about/contact";
@import "about/me";
@import "work/bikemaps";
@import "work/bview";
@import "work/layoutplus";
@import "work/looper";
