@import 'config';

// structure

body {
  background: #fff;
  text-align: center;
  font-family: Source Code Pro, monospace;
  font-size: $baseline;
  font-weight: 200;
  width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  font-weight: 200;
}


h1 {
  color: #000;
  font-size: $baseline;
  margin: $baseline 0;
  text-align: center;
}

h2 {
  margin: 0 0 $baseline * 3;
  font-size: $baseline * 1.5;
  text-align: center;
}

h3 {
  margin: (1.5 * $baseline) 0 (1.5 * $baseline) 0;
  font-size: $baseline * 1.0;
}

.section-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  padding: $baseline * 3 0;
}

ul {
  margin: 0;
  padding: 0 $baseline * 2;
  position: relative;
}

li {
  margin: $baseline / 2 0;
  padding: 0;
  list-style: none
}

li:before {
  content: "→";
  position: absolute;
  left: $baseline * 0.66;
  line-height: $baseline;
}

.appdownload {
  margin: $baseline 0;
}

section.features,
section.tech,
section.download,
section.body {
  max-width: 400px;
  margin: (3 * $baseline) auto;
}

section.download {
  text-align: center;
}

// style

a.download {
  border: 1px dashed #333;
  display: inline-block;
  margin: $baseline 0 0 -1px;
  padding: $baseline * 0.66;
  text-decoration: none;
  color: inherit;
}

a.download:hover {
  border-style: solid;
  text-decoration: none;
}

a.download:active {
}

a {
  color: inherit;
}

footer {
  margin: $baseline 0;
  text-align: center;
}


.avatar {
  width: 75%;
  margin: 0 auto $baseline * 5;
  display: block;
  border-radius: 50%;
}

#contact {
  background: #777;
  color: #fff;
}


section.contact-content {
  margin-top: 0;
  margin-bottom: 0;
}

// small screens

@media only screen and (max-device-width : 667px), only screen and (max-width : 667px) {
  .section-content {
    max-width: auto;
  }
  .app-image {
    width: 60%;
    margin: $baseline 20%;
  }
}


@import "portfolio/bikemaps";
@import "portfolio/bview";
@import "portfolio/layoutplus";
@import "portfolio/looper";
