@import 'config';

// looper

.app-image {
  width: 30%;
  margin: 0 1%
}

.looper-preview {
  background-color: lighten(#F7A4CF, 15%);
  color: darken(#FFC0E0, 9%);
}

.looper {
  background: darken(#FBA4D1, 20%);
  background: #fff;
  color: #444;
}
